/* import variable css */
@import url(_variable.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    color: var(--text);
}

.logo {
    font-size: 2rem;
}

header{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.banner{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.logo, .btn-connect{
    width: 20%;
    display: flex;
    justify-content: center;
    font-family: Ailerons;
    font-size: 2rem;  
}

.btn-connect{
    width: 20%;
    height: 4rem;
   
}
.btn-connect button{
    background-color: var(--button);
    border: none;
    width: 100%;
    height: 100%;
    color: var(--text);
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 2px;
}

.wrapper{
    width: 80%;
    
    background-color: var(--green);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    border-radius: 5px;
  text-align: center;

}

.value{
    font-weight: 900;
    letter-spacing: 3px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visible{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    
}
.info, .pulpit-info{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.info{
    font-weight: 700;
}

.row1, .coins{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.btn-expand {
    cursor: pointer;
  }
  
  
  .content {
    display: none;
  }
  
.miniIMG{
    width: 2rem;
    height: 2rem;
}

.topThree{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.priceDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
